<template name="woocommercecard">
  <div class="row">
      <div class="form-group col-md-6">
          <label class="text-nowrap">Customer Key</label>
          <input type="text" class="form-control" id="woocommerce_email"
              value="{{record.key}}">
      </div>
      <div class="form-group col-md-6">
          <label class="text-nowrap" style="padding: 12px"></label>
          {{> toggle_button
          className="chkGlobalSettings"
          id="woocommerce_enabled"
          width="131px"
          for="woocommerce_enabled"
          displayName="Enabled"
          isChecked=record.enabled
          }}
      </div>
  </div>
  <div class="row">
      <div class="form-group col-md-6">
          <label class="text-nowrap">Customer Secret</label>
          <input type="text" class="form-control" id="woocommerce_password"
              value="{{record.secret}}">
      </div>
      <div class="form-group col-md-6">
          <label class="text-nowrap">Base URL</label>
          <input type="text" class="form-control" id="woocommerce_base_url"
              name="edtLastName" value="{{record.base_url}}">
      </div>
  </div>
  <div class="row transferOption">
      <div class="col-12 col-lg-4" id="whatTransfer">
          <h5 class="mb-4">Type of Transfer</h5>
          {{#each transfertype in transfertypes}}
          {{#if transfertype.status}}
            {{> toggle_button
                className="chkGlobalSettings mt-3 transfer_tooglebtn"
                id=transfertype.id
                for=transfertype.id
                width="80px"
                displayName=transfertype.transfer_type
                labelclass=''
                isChecked=true
                custId="connection_transfertype_"
            }}
            {{else}}
            {{> toggle_button
                className="chkGlobalSettings mt-3 transfer_tooglebtn"
                id=transfertype.id
                for=transfertype.id
                width="80px"
                displayName=transfertype.transfer_type
                labelclass=''
                isChecked=false
                custId="connection_transfertype_"
            }}
            {{/if}}
          {{/each}}
      </div>
      <div class="col-12 col-lg-4"
          style="padding: 0; border-right: solid gray 1px;">
          <div class="row" style="padding-left: 20px;">
              <div class="form-group"
                  style="margin-left: 4px;padding-left:4px; width: 80%;">
                  <label class="text-nowrap">
                      <h5 style="margin-bottom: 8px;">Identifier</h5>
                  </label>
                  <select class="form-control" id="magento_cIdentify"
                      name="cIdentify" style="cursor: pointer;">
                      {{#if equals record.customer_identified_by 0}}
                      <option value="0" selected>CustomerID</option>
                      <option value="1">Email</option>
                      {{else}}
                      <option value="0">CustomerID</option>
                      <option value="1" selected>Email</option>
                      {{/if}}
                  </select>
              </div>
              <div class="form-group"
                  style="margin-left: 4px;padding-left:4px; width: 80%">
                  <select class="form-control" id="magento_pName" name="pName"
                      style="cursor: pointer;">
                      {{#if equals record.product_name 0}}
                      <option value="0" selected>Print Name</option>
                      <option value="1">Product Id</option>
                      {{else}}
                      <option value="0">Print Name</option>
                      <option value="1" selected>Product Id</option>
                      {{/if}}
                  </select>
              </div>
          </div>
      </div>
      <div class="col-12 col-lg-4" style="padding: 0;">
          <div class="form-group"
              style="margin-left: 4px; padding-left:4px; width: 100%">
              <h5
                  style="margin-bottom: 8px; margin-left: 10px; text-align: left;">
                  Product
                  Filter:</h5>
              <!-- <div style="align-items: center;"> -->
              <button class="btn btn-primary btnFilter" id="btnFilterOption"
                  type="button"><i class="fa fa-filter"
                      style="margin-right: 5px;"></i>Filter
                  Options</button>
              <!-- </div> -->
          </div>
      </div>
      <!-- <div class="col-2 d-xl-flex align-items-xl-start" style="padding: 0;">
          <div class="form-group flex-grow-1"
              style="margin: 4px;padding-left:4px;">
              <label class="text-nowrap">Sync Page Size</label>
              <input type="text" class="form-control"
                  id="magento_sync_page_size" name="edtMiddleName"
                  value="{{record.synch_page_size}}">
          </div>
      </div> -->
  </div>
  <div class="d-xl-flex justify-content-between align-items-xl-center"
      style="margin: 16px 0px 0px 0px;">
      <div>
          <button class="btn btn-success btnTestMagento btn-auto-testMagento"
              id="testWoocommerce" type="button"><i class="fa fa-play"
                  style="margin-right: 5px;"></i>Test {{idxRecord}}</button>
        <button class="btn btn-success btn-frequency setFrequency" id="setFrequency{{idxRecord}}"
            type="button"><i class="fa fa-send" style="margin-right: 5px;"></i>Set Frequency</button>


        <button class="btn btn-success btnSave btn-auto-update hover-text1 runNow" id="runNow{{idxRecord}}"
            title="" type="button"><i class="fa fa-sync" style="margin-right: 5px;"></i>Run Now<span
              class="tooltip-text" id="left">Run Now Will Only Import Objects, from the Selected Date
              that have Not Already Been Imported </span></button>
      </div>
      <div>
          <button class="btn btn-success btnSave btn-auto-save"
              id="saveWooCommerce" type="button"><i class="fa fa-save"
                  style="margin-right: 5px;"></i>Save</button>
          <button class="btn btn-success btnUpdate btn-auto-update"
              style="display: none;" id="updateMagento" type="button"><i
                  class="fa fa-save"
                  style="margin-right: 5px;"></i>Update</button>
          <button class="btn btn-danger btnDelete" type="button"
              data-toggle="modal"><i class="fas fa-trash-alt"
                  style="margin-right: 5px;"></i> Delete</button>
          <button class="btn btn-secondary btnBack" type="button"><i
                  class="fa fa-close"
                  style="margin-right: 5px;"></i>Cancel</button>
      </div>
  </div>
</template>
